body{
    font-family: "Trebuchet MS";
    color: #5e7e9e;
    letter-spacing: 1.5px;
}

h1, h2{
    font-weight: normal;
}

#wrapper{
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(192,192,192);
    box-sizing: border-box;
    padding: 0 0 20px;
    overflow: hidden;
    border: 1px solid rgba(105, 100, 100, 0.767);
}

#page-banner{
    background: rgba(97, 235, 245, 0.274);
    padding: 10px 0;

}

#page-banner h1, #page-banner p{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#page-banner input{
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    padding: 8px;
    border: 1px solid rgba(97, 235, 245, 0.274);
    border-radius: 4px;
    font-size: 16px;
    color: rgb(109, 99, 99);
}

#shoe-list, #add-shoe, #tabbed-content{
    margin: 30px;
}

#shoe-list ul, #tabbed-content ul{
    list-style-type: none;
    padding: 0;
}

#shoe-list li{
    padding: 20px;
    border-left: 5px solid rgb(167, 149, 149);
    margin: 20px 10px;
}

#shoe-list li:hover{
    border-color: #9cb2bc;
}

.delete{
    float: right;
    background: #9cb2bc;
    padding: 6px;
    border-radius: 4px;
    cursor: crosshair;
    color: white;
}

.delete:hover{
    background: #333;
}

#add-shoes{
    width: 400px;
    margin: 0 auto;
}

#add-shoes input{
    display: block;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    width: 300px;
    float: left;
    clear: both;
}

#add-shoes:hover button{
    background: rgb(73, 72, 72);
}

#add-shoes button{
    border: 1px solid #3b80ad;
    background: #4a8ab4; 
    padding: 10px 10px;
    font-size: 15px;
    display: inline-block;
    margin: 0;
    border-radius: 0 4px 4px 0;
    cursor: crosshair;
    width: 100px;
    margin: 20px 0;
    border-left: 0;
    color: white;
}

#add-shoes:after{
    content: '';
    display: block;
    clear: both;
}

#add-shoes #hide{
  width: 30px;
}

#add-shoes label{
  line-height: 52px;
}


#tabbed-content li{
    display: inline-block;
    padding: 10px 14px;
    background: #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}
#tabbed-content .tab{
    display: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 4px;
}
#tabbed-content .tab.active{
    display: block;

}